<!-- media: horizontal image-left text-right layout. Stacks on narrow containers via container query. -->
<article class="media">
  <img
    src="https://picsum.photos/seed/media-1/800/600"
    srcset="https://picsum.photos/seed/media-1/400/300 400w,
            https://picsum.photos/seed/media-1/800/600 800w"
    sizes="(min-width: 48rem) 25vw, 100vw"
    width="800" height="600"
    alt="Article image"
    loading="lazy">
  <div>
    <h3>Article title</h3>
    <p>A short summary of the article. Keeps you informed without giving everything away.</p>
    <a href="#">Read more</a>
  </div>
</article>
